.sidebar_chat {
    display: flex;
    border-bottom: 0.9px solid #f6f6f6;
    cursor: pointer;
    padding: 20px;
}

.sidebar_chat:hover {
    background-color: #ebebeb;
    transition: background-color 0.3s;
}

.sidebar_chat_details {
    margin-left: 14px;
}

.sidebar_chat_details > h2 {
    font-size: 18px;
    margin-bottom: 7px;
}